<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sis.com.map.service.MapMapper">

    <select id="selectSido" resultType="egovMap">
        select ctprvn_cd, ctp_kor_nm from origin.lsmd_adm_sect_sido
    </select>

    <select id="selectSgg" resultType="egovMap">
        select sig_cd, sig_kor_nm from origin.lsmd_adm_sect_sgg
        where sig_cd like #{code} || '%'
    </select>

    <select id="selectEmd" resultType="egovMap">
        select emd_cd, emd_kor_nm from origin.lsmd_adm_sect_emd
        where emd_cd like #{code} || '%'
    </select>

    <select id="selectLi" resultType="egovMap">
        select li_cd, li_kor_nm from origin.lsmd_adm_sect_li
        where li_cd like #{code} || '%'
    </select>

    <select id="selectLayers" resultType="egovMap">
        select * from map.tbl_layers
        order by lyr_num asc
    </select>

    <select id="selectSect" resultType="egovMap">
        select *
        from (
                 select ctprvn_cd as code, ctp_kor_nm as name, st_astext(geom) as geom
                 from origin.lsmd_adm_sect_sido
                 union all
                 select sig_cd as code, sig_kor_nm as name, st_astext(geom) as geom
                 from origin.lsmd_adm_sect_sgg
                 union all
                 select emd_cd as code, emd_kor_nm as name, st_astext(geom) as geom
                 from origin.lsmd_adm_sect_emd
                 union all
                 select li_cd as code, li_kor_nm as name, st_astext(geom) as geom
                 from origin.lsmd_adm_sect_li
             ) a
        where code = #{code}
    </select>

    <select id="selectJijuk" resultType="egovMap">
        select *
        from (
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_11_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_26_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_27_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_28_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_29_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_30_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_31_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_36_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_41_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_42_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_43_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_44_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_45_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_46_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_47_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_48_202301 union all
                 select pnu, jibun, st_astext(geom) as geom from origin.lsmd_cont_ldreg_50_202301
             ) a
        where pnu = #{code}
    </select>

    <select id="selectUe101" resultType="egovMap">
        -- 구획현황 > 진흥지역 조회
        select * from (
        select
            row_number()over() idx,
            count(*)over() total_count,
            sum(garea)over() total_area,
            *
        from (
                 select
                        t0.juso_code,                                            -- 지역코드
                        t1.col_adm_se,                                           -- 관리기관 코드
                        js.sido_nm,                                              -- 시도 이름
                        js.sgg_nm,                                               -- 시군구 이름
                        t0.mnum,                                                 -- 진흥지역 관리번호
                        t0.ucode,                                                -- 진흥지역 구분코드
                        (case
                             when t0.ucode = 'UEA110' then '농업진흥구역'
                             when t0.ucode = 'UEA120' then '농업보호구역'
                             else '농업진흥지역'
                            end)                                       as uname, -- 진흥지역 구분명
                        round((ST_AREA(t1.geom)):: numeric / 10000, 2) as garea  -- 진흥지역 면적(ha)
                 from (select distinct substring(pnu, 1, 10) as juso_code, mnum, ucode
                       from origin.lsmd_cont_ue101_rmdup_${sido}) t0
                          left outer join work.lsmd_cont_ue101_${sido}_mng t1 on (t0.mnum = t1.mnum)
                          left outer join (select *
                                           from origin.tc_jscd_bupd
                                           where del_dttm is null
                                             and sgg_nm is not null
                                             and umd_nm is null) js
                                          on (t1.col_adm_se = substring(js.juso_code, 1, 5))
                 where 1 = 1
                   and substring(t0.juso_code, 1, 10) like #{code} || '%'
        ) a
        where 1=1
            <if test="maxArea > -1">
                <![CDATA[
                    and a.garea >= #{minArea}::float and a.garea <= #{maxArea}::float
                ]]>
            </if>
        ) a
        <![CDATA[ where idx > ((#{page}::integer - 1) * 10) and idx <= (#{page}::integer * 10) ]]>

    </select>


</mapper>